<div class="multiselect" ng-class="{'multiselectreadonly': readMode, 'has-error': hasError }">
  <div ng-hide="!loadingData" class="form-control loading" ng-class="{'readonly': readMode }"><i class="fa fa-spinner fa-pulse fa-fw"></i></div>
  <div ng-show="!loadingData && allSelected && readMode" style="height: 34px;line-height:34px;">{{::selectAllMessage}}</div>
  <div ng-show="!loadingData && allSelected && !readMode" style="height: 34px;line-height:34px;"></div>
  <div ng-show="!loadingData && !allSelected" class="form-control multiselect-body" ng-class="{'multiselectreadonly': readMode}"
    ng-click="$event.preventDefault();$event.stopPropagation();" uib-popover="{{errorMessage}}" popover-trigger="'mouseenter'"
    popover-placement="{{errorPlacement}}" popover-enable="hasError">
    <span class="placeholder" style="height: 34px;" data-ng-if="ctrlMultiSelect.selectedItems().length <= 0">{{::emptyText}}</span>
    <div ng-repeat="item in displayList | filter: {'isNew': true} | orderBy : displayProperty" ng-show="!loadingData && !allSelected && !readMode" class="multiselect-badge form-control new-item isIncluded"
      ng-click="$event.preventDefault();$event.stopPropagation();">
      <span>{{item[displayProperty]}}</span>
      <i class="fa fa-times" ng-click="ctrlMultiSelect.onSelectItem(item,false);$event.preventDefault();$event.stopPropagation();"></i>
    </div>
    <div ng-repeat="item in displayList | filter: {'isNew': '!'} | orderBy : displayProperty" ng-show="!loadingData && !allSelected && !readMode" class="multiselect-badge form-control isIncluded"
      ng-click="$event.preventDefault();$event.stopPropagation();">
      <span>{{item[displayProperty]}}</span>
      <i class="fa fa-times" ng-click="ctrlMultiSelect.onSelectItem(item,false);$event.preventDefault();$event.stopPropagation();"></i>
    </div>
    <span data-ng-if="ctrlMultiSelect.selectedItems().length > 0 && readMode" ng-click="$event.preventDefault();$event.stopPropagation();">
     <div ng-repeat="item in displayList | orderBy : displayProperty" class="multiselect-badge form-control readonly" ng-click="$event.preventDefault();$event.stopPropagation();">
    <span>{{item[displayProperty]}}</span>
  </div>
  </span>
</div>
<div class="multiselect-button-ribbon" style="width:100%" data-ng-if="!readMode">
  <button type="button" class="button button--100percent" ng-click="ctrlMultiSelect.clickHandler($event,'dom');">Add</button>
  <button type="button" class="button button--100percent button--alert" ng-click="ctrlMultiSelect.unCheckAll();$event.preventDefault();$event.stopPropagation();">Clear all</button>
</div>
<div data-ng-if="ctrlMultiSelect.editMode && !readMode && !allSelected" class="popover multiselect-popover" ng-class="displayLocation === 'left'? 'left':'right'">
  <div data-ng-if="!selectAllDisabled" class="input-group">
    <input id="searchbar" type="text" ng-disabled="disableSearch" ng-if="showSearchbar" ng-change="ctrlMultiSelect.updateSearch(search)"
      ng-model="$parent.$parent.$parent.search" class="popover-search form-control" ng-model-options="{debounce:333}" placeholder="Search"/>
    <span class="input-group-btn">
      <button id="single-button" ng-click="ctrlMultiSelect.checkAll()" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled || search">
        Select all
      </button>
    </span>
  </div>
  <input ng-if="selectAllDisabled" id="searchbar" type="text" ng-disabled="disableSearch" ng-if="showSearchbar" ng-change="ctrlMultiSelect.updateSearch(search)"
      ng-model="$parent.$parent.search" class="popover-search form-control" ng-model-options="{debounce:333}" placeholder="Search"/>


  <virtual-list ui-data-provider="$parent.sourceCopy" display-property="{{::displayProperty}}" select-all="ctrlMultiSelect.selectAll" disabled="disabled" readonly-mode="$parent.readMode"
    search-Crit="ctrlMultiSelect.searchcrit" only-selected="ctrlMultiSelect.showOnlySelected" on-select="ctrlMultiSelect.onSelectItem(item,value)"
    ng-model="ngModel">
  </virtual-list>
</div>
</div>